APP_OIDC_PROVIDER_URL=http://auth.csc.local/
APP_OIDC_LOGOUT_PATH=oauth2/sessions/logout
APP_OIDC_CLIENT_ID=fuubarclientid
APP_METAX_API_HOST=metax.csc.local
APP_METAX_API_USER=qvain
APP_METAX_API_PASS=test-qvain
PGHOST=qvain-postgres.csc.local
PGDATABASE=qvaindb
PGDATA=/data/pg96/QVAIN_prod
PGUSER=qvain
PGPASSWORD=changeme
PGSSLMODE=disable
PGAPPNAME=qvain
APP_QVAIN_LOOKUP_API_KEY=dev
APP_QVAIN_STATS_API_KEY=dev
VUE_APP_QVAIN_API_URL=https://qvain.csc.local/api
VUE_APP_METAX_API_URL=https://qvain.csc.local/rest
VUE_APP_ES_API_URL=https://qvain.csc.local/es
VUE_APP_ETSIN_API_URL=https://etsin.csc.local/dataset
PORT=8081
APP_DEBUG=1
APP_DEV_MODE=1
APP_DEV_PORT=:3443
APP_HOSTNAME=qvain.csc.local
DANGEROUSLY_DISABLE_HOST_CHECK=1
HOST=qvain.csc.local

#########################################
# SET THESE VALUES
#########################################
APP_OIDC_CLIENT_SECRET=changeme
APP_TOKEN_KEY=2d2e75a9f86eab4d48a169ffb91cef0ff314dd31a07fe33e5a397b24ba8793f6
