[Unit]
Description = Fairdata Metax API
After=fairdata-metax-api-init.service
Wants=fairdata-metax-api-init.service

[Service]
User = metax-user
Group = metax
ExecStart = /opt/fairdata/metax/fairdata-metax-api.sh
EnvironmentFile = /etc/environment
Restart=on-failure
RestartSec=30s

[Install]
WantedBy = multi-user.target