[Unit]
Description = Fairdata Qvain API init

[Service]
ExecStartPre = /bin/sleep 10
ExecStart = /opt/fairdata/qvain/start-fairdata-qvain-api-init.sh
EnvironmentFile = /etc/environment
Restart=on-failure
RestartSec=30s

[Install]
WantedBy = multi-user.target